.cart-container {
  padding: 20px 8%;
}

.cart-information-container {
  border: solid 1px red;
  /* height: 400px; */
}

.order-summery-container {
  border: solid 1px black;
  /* height: 400px; */
}

.order-summary {
  padding: 40px 30px;
  /* margin-left: 15px;
  margin-right: 15px; */
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: rgb(222, 222, 222);
}

.order-summary-table,
.order-summary-table tr,
.order-summary-table td {
  background-color: transparent;
}

.cart-product-container {
  padding: 0 10px;
}

.cart-product-img-container {
  border: solid 1px green;
  padding: 0 !important;
  border-radius: 12px;
  overflow: hidden;
}

.order-product-info-container {
  border: solid 1px blue;
  padding-left: 10px !important;
}

.order-product-btn-container {
  border: solid 1px hotpink;
}

.product-add-cart_btn {
  border-radius: 50% !important;
}

.product-cart-quantity {
  padding: 0 7px;
}
