.header-primary {
  display: flex;
  justify-content: center;
}

.header-primary div {
  height: 70px;
}

/* Navratna Logo */
.nav-logo {
  border: solid 1px red;
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.nav-logo .imageWrapper {
  height: 100%;
  width: 90%;
}

.div2 {
  border: solid 1px blue;
  flex-basis: 40%;
}

.search-product {
  width: 300px;
}

.div3 {
  border: solid 1px rosybrown;
  width: 100px;
}

.div4 {
  border: solid 1px black;
  width: 100px;
}

.div5 {
  border: solid 1px black;
  width: 100px;
}
