/* .header-container {
  position: absolute;
  z-index: 1000;
  top: -137px;
  left: 0;
  width: 100vw;
} */

.header-primary {
  display: flex;
  justify-content: center;
}

.header-primary div {
  height: 70px;
}

/* Navratna Logo */
.nav-logo {
  /* border: solid 1px red; */
  flex-basis: 110px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-left: 5px;
}

.nav-logo .imageWrapper {
  height: 100%;
  width: 100%;
}

.search-box {
  /* border: solid 1px blue; */
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.search-product {
  width: 90% !important;
  height: 70% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-product input,
button {
  height: 100% !important;
}

.header-store {
  /* border: solid 1px rosybrown; */
  width: 100px;
  flex-direction: column;
}

.header-icons {
  width: 25px;
  height: 25px;
}

.header-store h4 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.header-text-container {
  margin: 0;
  padding: 0;
  margin-top: -8px;
}

.header-store:hover {
  color: #4848ed;
  transform: scale(1.12);
  transition: all 0.5s ease-in-out;
}

.header-text-container a {
  text-decoration: none !important;
  color: black;
}

/* carousel */
.carousel {
  border: solid 1px red;
  /* margin-top: 130px; */
}

/* home page products */

.shop-by-category {
  margin-top: 50px;
}

.home-products-container {
  /* border: solid 1px black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 20%;
}

.home-products {
  border: solid 1px rgb(185, 185, 185);
  width: 300px;
  /* margin-left: 50px; */
  margin-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
}

.home-product-name {
  padding: 20px 0;
}

.home-product-name a {
  font-family: cursive;
  text-decoration: none !important;
}

.home-products .imageWrapper {
  height: 300px;
}

/* home page connect us */

.home-connect-us-container {
  flex-wrap: wrap;
}

.connect-us-wrapper {
  margin-right: 40px;
  position: relative;
  width: 280px;
  border: solid 1px rosybrown;
  padding: 10px 20px;
  border-radius: 12px;
}

.header-connectus-icon {
  width: 110px;
  position: absolute;
  top: 12px;
  right: 20px;
}

.header-text-connect {
  /* border: solid 1px red; */
  padding: 7px;
  padding-left: 16px;
  margin-top: 10px;
  width: 110px;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
  transition: width 0.8s ease-in-out;
}

.header-text-connect:hover {
  width: 90%;
}

.header-text-connect a {
  font-size: 19px;
  text-decoration: none !important;
  font-weight: 500;
  color: black;
  align-self: flex-start;
}

.header-text-connect span {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 5px;
  font-weight: bolder;
}

/* Footer code */

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(245, 245, 245);
}

.footer-container ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-container li {
  font-size: 20px;
  margin-bottom: 8px;
}

.footer-container h3 {
  margin-bottom: 20px;
  color: palevioletred;
}

.footer-container a {
  text-decoration: none !important;
  color: black;
  font-family: cursive;
}

.footer-container a:hover {
  color: #4848ed;
}

.footer-connectus-container {
  /* border: solid 1px red; */
  padding: 10px 15px;
}

.footer-useful-info-container {
  /* border: solid 1px green; */
  padding: 10px 15px;
}

.footer-social-media-container {
  /* border: solid 1px black; */
  padding: 10px 15px;
}

.footer-icon-wrapper {
  display: inline-block;
  width: 30px;
  vertical-align: top;
  margin-right: 10px;
}

.footer-icon {
  height: 100%;
  width: 100%;
}

.social-media-icon-wrapper {
  display: inline-block;
  width: 25px;
  margin-right: 5px;
}

.icon-facebook,
.icon-instagram,
.icon-youtube,
.icon-pinterest {
  color: black;
}

.icon-facebook:hover {
  color: #0000ff;
}

.icon-instagram:hover {
  color: rgb(248, 109, 132);
}

.icon-youtube:hover {
  color: #ff0000;
}

.icon-pinterest:hover {
  color: rgb(230, 56, 56);
}

/* copyright text */

.copyright-text {
  display: block;
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgb(245, 245, 245);
}
